<div layout-fill layout="column">


  <header layout="column" layout-align="center center" class="md-padding ouijan-header">
    <img class="logo" alt="{{vm.logo.name}}" ng-src="{{vm.logo.url}}" />
    <h1 class="md-display-1">Toby Harris</h1>
  </header>

  <md-content flex layout="column">

      <div class="md-padding job-titles">
        <h2 class="md-subhead">Software Development</h2>
        <h2 class="md-subhead">Digital Design</h2>
      </div>

      <md-list class="md-dense" style="padding: 0;">

          <md-list-item class="md-2-line" aria-label="About Me"
            ng-click="vm.goTo('about')">
            <img ng-src="{{vm.aboutImage.url}}" class="md-avatar" 
              alt="{{vm.aboutImage.name}}" />
            <div class="md-list-item-text">
              <h3>About Me</h3>
              <!-- <p>Secondary text</p> -->
            </div>
          </md-list-item>

          <md-subheader class="md-no-sticky bg-shards-purple"
            md-colors="::{backgroundColor: 'default-primary-500'}">
              My Projects
          </md-subheader>

          <div ng-if="!vm.projectList.length" layout-margin
            layout="column" layout-align="center center">
            <md-progress-circular md-mode="indeterminate" md-diameter="20"
              class="md-hue-1"></md-progress-circular>
          </div>

          <md-list-item class="md-2-line" ng-repeat="project in vm.projectList"
            ng-click="vm.goTo('projects', {slug: project.slug})" 
            aria-label="{{project.name}} Project">
            
            <img ng-src="{{project.icon.url}}" class="md-avatar" 
              alt="{{project.icon.name}}" />
            <div class="md-list-item-text">
              <h3 ng-bind="project.name"></h3>
              <!-- <p ng-bind="project.description" md-truncate></p> -->
            </div>
            
          </md-list-item>

         

      </md-list>

      <span flex></span>

      <footer layout="row" layout-align="center center" class="ouijan-footer">
        <div>
          <a href="mailto:{{ vm.contact.email }}" class="md-button md-icon-button" 
            aria-label="Email me maybe">
            <md-tooltip md-direction="top">{{ vm.contact.email }}</md-tooltip>
            <md-icon>email</md-icon>
          </a>
          <a href="https://github.com/Ouijan" target="_blank" 
            class="md-button md-icon-button" aria-label="Github">
            <md-tooltip md-direction="top">Github</md-tooltip>
            <md-icon md-svg-src="assets/images/github.svg"></md-icon>
          </a>
        </div>
      </footer>
    
  </md-content>
</div>