%bg-swirl {
  background-color: $white;
  background-image: url('/assets/images/bg-swirl.png');
  background-repeat: repeat;
}

%bg-shards-purple {
  background-color: $white;
  background-image: url('/assets/images/bg-shards-purple.png');
  background-repeat: repeat;
}

%bg-shards-white {
  background-color: $white;
  background-image: url('/assets/images/bg-shards.png');
  background-repeat: repeat;
}
