$white: #fff;
$white-dim: #f2f2f2;
$white-dull: #e6e6e6;
$purple: #57217d;
$purple-dark: #40175e;
$background-fade: rgba(0, 0, 0, .35);

// Angular Material Purple Pallette
$purple-50: #ebe4ef;
$purple-100: #cdbcd8;
$purple-200: #ab90be;
$purple-300: #8964a4;
$purple-400: #704291;
$purple-500: $purple;
$purple-600: #4f1d75;
$purple-700: #46186a;
$purple-800: $purple-dark;
$purple-900: #30054c;
$purple-a100: #ba84ff;
$purple-a200: #9d51ff;
$purple-a400: #811eff;
$purple-a700: #7204ff;