md-toolbar {
  &.ouijan-toolbar {
    @extend %bg-shards-purple;

    h1,
    h2,
    h3 {
      @extend %pacifico-font;
      text-align: center;
      color: $white;
    }

    .menu-icon {
      position: absolute;
    }
  }
}
