@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro');

%source-sans-pro-font {
  font-family: 'Source Sans Pro', sans-serif;
}

%pacifico-font {
  font-family: 'Pacifico', cursive;
  font-style: normal;
  font-variant: normal;
}

.md-display-4,
.md-display-3,
.md-display-2,
.md-display-1 {
  @extend %pacifico-font;
  color: $purple-500;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.md-headline,
.md-title {
  @extend %source-sans-pro-font;
  color: $purple-800;
  font-weight: 400;
  margin-bottom: 0;
}

.md-body-1,
.md-body-2 {
  @extend %source-sans-pro-font;
  font-size: 1.1em !important;
  font-weight: 400 !important;
  line-height: 1.5em !important;
}
