@import 'colours';
@import 'typography';
@import 'backgrounds';
@import 'images';

@import 'toolbar';
@import 'header';
@import 'footer';
@import 'lightbox';
@import 'projects';

.ouijan-content {
  @extend %bg-swirl;
  min-height: 100%;
}

.wrap {
  margin: 0 auto;
  max-width: 900px;
  padding: 1px 0;
  width: 100%;
}

.job-titles {
  @extend %bg-shards-purple;
  padding: 16px;
  z-index: 1;

  h1,
  h2,
  h3 {
    color: $white-dim;
    margin: 0;
    text-align: center;
  }
}
