<div class="bg-swirl">
	<div class="wrap" layout-margin layout-padding>
		<splash></splash>
	</div>
</div>

<md-divider></md-divider>
<div class="wrap">

	<a id="services"></a>
	<services></services>

	<call-to-action></call-to-action>

</div>

<div class="wrap">
	<a id="about"></a>
	<about></about>
</div>

<!-- <div class="wrap">
	<a id="contact"></a>
	<contact></contact>
</div> -->
 
<md-divider></md-divider>
<a id="brands"></a>
<div class="bg-swirl">
	<div class="wrap">
		<brands></brands>
	</div>
</div> 
