<div layout="column" layout-margin class="project-details">

	<div>
		<h1 class="md-display-3" ng-bind="vm.project.name"></h1>
	</div>
	
	<div layout="row" layout-wrap>
		<div flex="100" flex-gt-xs="50" class="md-body-1" 
			ng-bind-html="vm.project.description | trustedHtml"></div>
			<div flex="100" flex-gt-xs="50">
				<img class="project-icon"
					ng-src="{{vm.project.icon.url}}" 
					alt="{{vm.project.icon.name}}" />
			</div>
	</div>

	<div layout="row" layout-wrap>
		<div ng-repeat="image in vm.project.images"
			flex="100" flex-gt-xs="50" class="image-card">
			<img ng-src="{{image.url}}" alt="{{image.name}}" lightbox 
				md-whiteframe="1" />
		</div>
	</div>

</div>