<div layout="row" layout-align="center start" layout-wrap>

	<!-- Development -->
	<img class="brand-icon" src="/assets/images/brands/angular.svg">
	<img class="brand-icon" src="/assets/images/brands/laravel.svg">
	<img class="brand-icon" src="/assets/images/brands/docker.svg">
	<img class="brand-icon" src="/assets/images/brands/sass.svg">
	<img class="brand-icon" src="/assets/images/brands/python.svg">
	<img class="brand-icon" src="/assets/images/brands/wordpress.svg">
	<!-- <img class="brand-icon" src="/assets/images/brands/gulp.svg"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/golang.svg"> -->

	<!-- Tools -->
	<!-- <img class="brand-icon" src="/assets/images/brands/atlassian.svg"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/kubernetes.svg"> -->
	<img class="brand-icon" src="/assets/images/brands/git.svg">
	
	<!-- Design -->
	<!-- <img class="brand-icon" src="/assets/images/brands/photoshop.svg">
	<img class="brand-icon" src="/assets/images/brands/illustrator.svg">
	<img class="brand-icon" src="/assets/images/brands/indesign.svg"> -->

	<!-- <img class="brand-icon" src="/assets/images/brands/jenkins.png"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/php.svg"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/webpack.svg"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/mysql.svg"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/node.svg"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/composer.png"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/openstack.svg"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/django.svg"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/swagger.png"> -->
	<!-- <img class="brand-icon" src="/assets/images/brands/slack.svg"> -->
</div>