<div layout="column" layout-gt-sm="row">

	<div flex-gt-xs="50" layout-padding>
		<h1 class="md-display-1">Contact</h1>
		<md-list class="md-dense">

			<md-list-item>
				<md-icon>email_outline</md-icon>
				<p>TobyHarris93@gmail.com</p>
			</md-list-item>

			<md-list-item>
				<md-icon>email_outline</md-icon>
				<p>Github</p>
			</md-list-item>

			<md-list-item>
				<md-icon>email_outline</md-icon>
				<p>LinkedIn</p>
			</md-list-item>

			<md-list-item>
				<md-icon>email_outline</md-icon>
				<p>The Loop</p>
			</md-list-item>

		</md-list>
	</div>
	
</div>