<div layout="column" layout-padding>
	<h1 class="md-display-1">Services</h1>

	<div layout="column" layout-gt-xs="row">
		<div flex-gt-xs="50" layout-margin>
			<ul class="service-list">
				<li class="md-headline">Software Development</li>
				<li class="md-body-2">Front-End development</li>
				<li class="md-body-2">Back-End development</li>
				<li class="md-body-2">System integrations</li>
				<li class="md-body-2">Software as a Service</li>
				<li class="md-body-2">WordPress development</li>
				<li class="md-body-2">PHP/Python/Go/javascript Programing</li>
			<ul>
		</div>

		<div flex-gt-xs="50" layout-margin>
			<ul class="service-list">
				<li class="md-headline">Digital Design</li>
				<li class="md-body-2">Logo Design</li>
				<!-- <li class="md-body-2">Illustration</li> -->
				<li class="md-body-2">Responsive Web Design</li>
				<li class="md-body-2">User interface design</li>
				<li class="md-body-2">Interaction design</li>
				<li class="md-body-2">Visual Design</li>
				<li class="md-body-2">Branding</li>
			</ul>
		</div>
	</div>

</div>