<section layout-fill layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-whiteframe="4">
        <ouijan-sidebar sidebar-id="left"></ouijan-sidebar>
    </md-sidenav>

    <div layout-fill layout="column">
        <ouijan-toolbar sidebar-id="left" hide-gt-sm></ouijan-toolbar>
	    <md-content flex>
            <div class="ouijan-content">
                <div class="wrap">
                    <ui-view></ui-view>
                </div>
            </div>
	    </md-content>
    </div>

  </section>