<div layout-fill layout="column">


  <header layout="column" layout-align="center center"
    md-whiteframe="5" class="ouijan-header bg-shards-purple">
    <img class="logo" alt="{{vm.logo.name}}" ng-src="{{vm.logo.url}}" />
    <h1 class="md-display-1">Toby Harris</h1>
  </header>

  <md-content flex>

    <md-list style="padding: 0;">

        <md-list-item class="md-2-line" ui-sref="about" aria-label="About Me">
          <img ng-src="{{vm.aboutImage.url}}" class="md-avatar" 
            alt="{{vm.aboutImage.name}}" />
          <div class="md-list-item-text">
            <h3>About Me</h3>
            <!-- <p>Secondary text</p> -->
          </div>
        </md-list-item>

        <md-subheader class="md-no-sticky"
          md-colors="::{backgroundColor: 'default-primary-500'}">
            My Projects
        </md-subheader>

        <md-list-item class="md-2-line" ng-repeat="project in vm.projectList"
          ui-sref="projects({ slug: project.slug })"
          aria-label="{{project.name}} Project">

          <img ng-src="{{project.icon.url}}" class="md-avatar" 
            alt="{{project.icon.name}}" />
          <div class="md-list-item-text">
            <h3 ng-bind="project.name"></h3>
            <!-- <p ng-bind="project.description" md-truncate></p> -->
          </div>
          
        </md-list-item>

    </md-list>

  </md-content>
</div>